@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajouter la font Roboto à tout le projet */
body {
  font-family: Marianne, sans-serif;
}

@font-face {
  font-family: 'Marianne';
  src:
    url('./polices/Marianne-Bold.woff2') format('woff2'),
    url('./polices/Marianne-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src:
    url('./polices/Marianne-Regular.woff2') format('woff2'),
    url('./polices/Marianne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
